/*
responsive-download.css
*/

/*ipad tablet */
@media only screen and (device-width: 768px) {
    .pad-19 {
        height: auto;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
    .pad-19 {
        height: auto;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
    .pad-19 {
        height: auto;
    }
}

/******All mobile for will applied*****/
/*start for mobile*/

@media only screen and  (max-width: 767px) {
    .download-left {
        padding: 0.8em;
        margin-left: 0em;
        margin-right: 0em;
    }

    .song-details {
        border-right: 1px solid transparent;
    }

    .text-54 {
        text-align: left;
    }

    .text-53 {
        padding-left: 0px;
    }

    h6.text-52 {
        display: inline-block;
        font-weight: 800;
        font-size: 1.2em;
    }

    .pad-9 {
        padding-left: 0px;
    }

    .pad-19 {
        height: auto;
        max-height: auto;
    }

    .song-profile img {
        object-fit: cover;
        height: auto;

    }
    .related-artist-img img {
        object-fit: cover;
        height: auto;
        /*max-height: 9.2em;*/
        border-radius: 8px;
    }
}
    /*end for mobile*/
    @media only screen and (min-width: 320px) and (max-width: 479px) {
        .text-54 {
            text-align: left;
        }

        .text-53 {
            padding-left: 0px;
        }

        h6.text-52 {
            display: inline-block;
            font-weight: 800;
            font-size: 1em;
        }
    }

    @media only screen and (min-width: 480px) and (max-width: 521px) {
        .text-54 {
            text-align: left;
        }

        .text-53 {
            padding-left: 0px;
        }

        h6.text-52 {
            display: inline-block;
            font-weight: 800;
            font-size: 1em;
        }
    }

    @media only screen and (min-width: 520px) and (max-width: 640px) {
        .text-54 {
            text-align: left;
        }

        .text-53 {
            padding-left: 0px;
        }

        h6.text-52 {
            display: inline-block;
            font-weight: 800;
            font-size: 1em;
        }
    }

    @media only screen and (min-width: 639px) and (max-width: 767px) {
        .text-54 {
            text-align: left;
        }

        .text-53 {
            padding-left: 0px;
        }

        h6.text-52 {
            display: inline-block;
            font-weight: 800;
            font-size: 1em;
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .text-54 {
            font-size: 1em;
            margin-top: 10px;
            /*letter-spacing: 1px;*/
        }

        .text-57 {
            font-size: 1.1em;
        }

        .btn-btn-3 {
            white-space: inherit;
        }

        .text-19 {
            padding-left: 0em;
        }

        .text-20 {
            padding-left: 0em;
            font-size: 0.6em;
        }

        .pad-1 {
            padding-bottom: 20.7em;
        }

        .download-left {
            margin-bottom: 1em;
        }

        .pad-9 {
            padding-left: 0px;
        }

        .song-details {
            border-right: 1px solid transparent;
        }

        .text-44 {
            font-size: 2.3em;
        }



        .pad-8 {
            height: 149.7em;
            max-height: 149.7em;
        }



        .pad-8 {
            height: 166.7em;
            max-height: 166.7em;
        }
    }

    @media only screen and (min-width: 992px) and (max-width: 1180px) {
        .text-54 {
            font-size: 1.1em;
            margin-top: 10px;
        }

        .download-right {
            padding-bottom: 52.4em;
        }

        .btn-btn-3 {
            font-size: 0.6em;
        }

        .download-left {
            padding-bottom: 1.5em;
        }

        .pad-9 {
            padding-left: 15px;
        }

        .text-44 {
            font-size: 2.3em;
        }



        .pad-8 {
            height: 147.6em;
            max-height: 147.6em;
        }

    }

    @media only screen and (min-width: 1181px) and (max-width: 1200px) {
        .text-54 {
            font-size: 1.1em;
            margin-top: 10px;
        }



        .pad-9 {
            padding-left: 15px;
        }



        .pad-8 {
            height: 149.4em;
            max-height: 149.4em;
        }

    }

    @media only screen and (min-width: 1201px) and (max-width: 1500px) {
        .download-right {
            padding-bottom: 41.5em;
        }

        .pad-9 {
            padding-left: 15px;
        }

    }

